[Unit]
Description=Run routes.js on server startup
After=network.target

[Service]
ExecStart=/usr/bin/node /root/mini-app/routes.js
WorkingDirectory=/root/mini-app
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=routes

[Install]
WantedBy=multi-user.target