body {
    font-family: Arial, sans-serif;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    padding-top: 40px;
}

.container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 700px;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--tg-theme-header-bg-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

p {
    margin-bottom: 20px;
    color: var(--tg-theme-hint-color);
}

.button,
.fill-tg {
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
    color: var(--tg-theme-button-text-color);
    background: var(--tg-theme-button-color);
    border-radius: 20px;
    border: none;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 400px;
    }
}

.field_multiselect {
    font-weight: bold;
    width: 100%;
    display: block;
    min-height: 46px;
    border: 2px solid var(--tg-theme-button-color);
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 14px;
    color: var(--tg-theme-button-text-color);
    margin-bottom: 20px;
    margin-top: 20px;

    outline-color: var(--tg-theme-bg-color);

    &:hover {
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.16);
    }

    &:focus {
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.16);
    }
}

.field_multiselect {
    padding: 10px 10px;

    &:after {
        content: "";
        position: absolute;
        right: 30px;
        top: 35px;
        width: 6px;
        height: 16px;
        background: url("data:image/svg+xml,%3Csvg width='6' height='16' viewBox='0 0 6 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 0L6 5H0L3 0Z' fill='%23A8ACC9'/%3E%3Cpath d='M3 16L6 11H0L3 16Z' fill='%23A8ACC9'/%3E%3C/svg%3E") 50% 50% no-repeat;
    }
}

.multiselect_block {
    position: relative;
}

.field_select {
    position: absolute;
    top: calc(100% - 10px);
    width: 100%;
    border: 2px solid var(--tg-theme-button-color);
    border-radius: 20px;
    color: var(--tg-theme-text-color);
    box-sizing: border-box;
    outline-color: var(--tg-theme-bg-color);
    z-index: 6;
}

.field_select[multiple] {
    overflow-y: auto;
}

.field_select option {
    display: block;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
}

.field_multiselect button+button {
    margin-top: 10px;
}

.field_multiselect button {
    font-weight: bold;
    position: relative;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: none;
    color: var(--tg-theme-button-text-color);
    background-color: var(--tg-theme-button-color);

    &:after {
        content: "";
        position: absolute;
        right: 10px;
        width: 16px;
        height: 16px;
        background-size: contain;
    }
}

.multiselect_label {
    position: absolute;
    top: 1px;
    left: 10px;
    width: 100%;
    height: 44px;
    cursor: pointer;
    z-index: 3;
}

.field_select {
    display: none;
}

input.multiselect_checkbox {
    position: absolute;
    border: none;
    opacity: 0;
}

.multiselect_checkbox:checked~.field_select {
    display: block;
}

.multiselect_checkbox:checked~.multiselect_label {
    top: 35px;
    width: 20px;
    left: initial;
    right: 20px;
    position: absolute;
    height: 16px;
    background: var(--tg-theme-bg-color) url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.4958 6.49499C19.7691 6.22162 19.7691 5.7784 19.4958 5.50504C19.2224 5.23167 18.7792 5.23167 18.5058 5.50504L12.5008 11.5101L6.49576 5.50504C6.22239 5.23167 5.77917 5.23167 5.50581 5.50504C5.23244 5.7784 5.23244 6.22162 5.50581 6.49499L11.5108 12.5L5.50581 18.505C5.23244 18.7784 5.23244 19.2216 5.50581 19.495C5.77917 19.7684 6.22239 19.7684 6.49576 19.495L12.5008 13.49L18.5058 19.495C18.7792 19.7684 19.2224 19.7684 19.4958 19.495C19.7691 19.2216 19.7691 18.7784 19.4958 18.505L13.4907 12.5L19.4958 6.49499Z' fill='%234F5588'/%3E%3C/svg%3E") 50% 50% no-repeat;
}

input:invalid {
    border-color: red;
}

input:valid {
    border: 2px solid #007bff;
}

.input-form {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.input-label {
    text-align: center;
    width: calc(23% - 10px);
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    padding: 10px 20px;
    border-radius: 20px;
}

input[type="text"],
input[type="tel"] {
    width: calc(55% - 10px);
    color: var(--tg-theme-text-color);
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: var(--tg-theme-bg-color);
}

.multiselect_block {
    display: flex;
    align-items: center;
}

.field_multiselect {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}