.c-car-spinner {
    height: 120px;
    width: 120px;
    position: relative;
    margin: 0 auto;
    margin-top: 300px;
    display: block;
}

.c-car-spinner__svg {
    animation: spinneriminen 1s linear infinite;
    position: absolute;
    top: 0;
}

.c-car-spinner__svg-circle {
    stroke: var(--tg-theme-button-color);
    stroke-dasharray: 140;
    transform-origin: center center;
    fill: transparent;
    stroke-width: 2px;
}

.c-car-spinner__svg-car {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 25px);
}

#car-picture-icon {
    stroke: var(--tg-theme-button-color);
}