body {
    font-family: Arial, sans-serif;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    padding-top: 40px;
}

.container {
    width: fit-content;
    display: none;
    flex-direction: column;
    text-align: center;
    height: fit-content;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--tg-theme-header-bg-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

p {
    margin-bottom: 20px;
    color: var(--tg-theme-hint-color);
}

h3 {
    margin-bottom: 30px;
    color: var(--tg-theme-section-header-text-color);
}

input:invalid {
    border-color: red;
}

input:valid {
    border: 2px solid #007bff;
}

.input-form {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.input-label {
    text-align: center;
    width: 75px;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    padding: 10px 20px;
    border-radius: 20px;
}

input[type="text"],
input[type="tel"],
.input-time,
.input-date,
.select {
    text-align: center;
    width: 230px;
    color: var(--tg-theme-text-color);
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: var(--tg-theme-bg-color);
    box-sizing: border-box;
}

@keyframes spinneriminen {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.c-car-spinner {
    height: 120px;
    margin-top: 20px;
    width: 120px;
    position: relative;
    margin: 0 auto;
    margin-top: 300px;
    display: block;
}


.c-car-spinner__svg {
    animation: spinneriminen 1s linear infinite;
    position: absolute;
    top: 0;
}

.c-car-spinner__svg-circle {
    stroke: var(--tg-theme-button-color);
    stroke-dasharray: 140;
    transform-origin: center center;
    fill: transparent;
    stroke-width: 2px;
}

.c-car-spinner__svg-car {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 25px);
}

#car-picture-icon {
    stroke: var(--tg-theme-button-color);
}